MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_ROOT_PASSWORD=
# O host deve ser o nome do container MySQL especificado no docker-compose, se estiver usando o Docker
MYSQL_HOST=
MYSQL_PORT=

# Vamos usar a connection string abaixo tanto para o JPA, quanto para o Flyway, uma vez que os dados de conexão são os mesmos
FLYWAY_URL=jdbc:mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DB}
JWT.EXPIRY=
JWT.SECRET=
